.page {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 40px;
    }
  }
}

.list {
  &__item {
    &__content {
      display: flex;
      justify-content: space-between;

      > div {
        width: 20%;

        &:not(:first-child) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
